# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Mc2.Plaid.Career.NetStandard.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
